* {
    font-family: helvetica, sans-serif;
}

.Title {
    background: #0E57FF;
    color: white;
    text-align: center;
    max-height: 200px;
    line-height: 100px;
    text-transform: uppercase;
}

.Main {
    width: 80vw;
    max-width: 500px;
    margin: 0 auto;
}